<head>
</head>
<body>
<div>
    <div>
        <h1>Login Menu</h1>
        <form method = "post" action=logIn>
            <div>
                <input placeholder="Name" type="text" name="Name" />
            </div>
            <div>
                <input placeholder="Password" type="password" name="Password"/>
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>
</div>
</body>