<head></head>
<body><div>
    <div>
        <main>
            <div>
                <div>
                    <div>
                        <h1>
                            <span>
                                Your repositories
                            </span>
                        </h1>
                    </div>
                </div>

                <nav>
                    {{#repos}}
                        <ul>
                            <li><a href= rep/{{name}}/ >{{name}}</a>
                                Stars: {{stars}}
                                Watchers: {{watchers}}
                                Forks: {{forks}}
                                Branches: {{branches}}
                            </li>
                        </ul>
                    {{/repos}}
                </nav>
                <form method="post" action= createNewRepo>
                    <label for="repoName">Repository Name
                        <input class="input-field" type="text" id="repoName" name="repoName">
                    </label>
                    <input type="submit" value="Add repo">
                </form>
            </div>
        </main>
    </div>
</div></body>

<!--<html>-->
<!--<head>-->
<!--    <style>-->
<!--table {-->
<!--    border-collapse: collapse;-->
<!--}-->
<!-- -->
<!--table, td, th {-->
<!--    border: 1px solid #999;-->
<!--    padding: 5px;-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->

<!--    <h2>Your repositories</h2>-->
<!--    <table>-->
<!--    {{# repos }}-->
<!--        <tr>-->
<!--&lt;!&ndash;            если перед url в href стоит /, то предыдущий url заменяется на этот &ndash;&gt;-->
<!--&lt;!&ndash;            если url обособлен кавычками, то предыдущий url заменяется на этот &ndash;&gt;-->
<!--            <td><a href= rep/{{name}}/ >{{name}}</a></td>-->
<!--            <td>{{stars}}</td>-->
<!--            <td>{{watchers}}</td>-->
<!--            <td>{{forks}}</td>-->
<!--        </tr>-->
<!--    {{/ repos }}      -->
<!--    </table>-->

<!--&lt;!&ndash;<form method="post" action= createNewRepo>&ndash;&gt;-->
<!--&lt;!&ndash;    <input placeholder="Repo name" type="text" />&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <button>Create repo</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Add Repo">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--<form method="post" action= createNewRepo>-->
<!--    <label for="repoName">Repository Name-->
<!--        <input class="input-field" type="text" id="repoName" name="repoName">-->
<!--    </label>-->
<!--    <input type="submit" value="Add repo">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
